<!-- 侧边栏 -->
<div class="sidebar2">
    <h3><i class="fas fa-list"></i> <%= __('common.title') %></h3>
    <a href="/lab/<%= page.lang || config.default_language %>/members/"><%= __('common.link1') %></a>
</div>

<style>
    .sidebar2 {
        width: 250px;
        min-height: 120px;
        border: 2px solid #418ac8;
        border-radius: 5px;
        background-color: #f9f9f9; /* 背景色 */
    }

    .sidebar2 h3 {
        background-color: #418ac8;
        color: white;
        padding: 10px;
        margin: 0; /* 移除默认的 margin */
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .sidebar2 a {
        display: block;
        text-align: center;
        padding: 10px 0;
        margin: 10px;
        color: #000000;
        font-size: 14px;
        text-decoration: none; /* 移除默认的下划线 */
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .sidebar2 a:hover {
        background-color: #316ba8; /* 悬停时背景色 */
    }

    .sidebar2 p {
        padding: 10px;
        margin: 0;
    }
</style>
